/* General Setting */

/* Small screens (default) */
html { font-size: 100%; }
 
/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
}

/* Grid */

/* Ditto */

body {
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 0.8rem;
    /* line-height: 1.8; */
}

#sidebar {
    margin-top: 0;
    padding-left: 25px;
    padding-bottom:25px;
    padding-top: 25px;
    box-shadow: 0 0 20px #CCC;
    /* border-right: 1px solid #E1E1E1; */
}

@media (min-width: 40rem) {
    #sidebar {
    width: 280px;
    position: fixed;
    height: 100%;
    margin-right: 20px;
    padding-bottom:0px;
    padding-top: 0px;
    overflow-y: auto;
    overflow: -moz-scrollbars-vertical;
    }
}

#sidebar h1 {
    font-size: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#sidebar h1 a:link, #sidebar h1 a:visited {
    color: #333;
}

#sidebar h2 {
    font-size: 0.7rem;
}

#sidebar h5 {
    margin-top: 20px;
    margin-bottom: 0;
}

#sidebar a:visited, #sidebar a:link {
    color: #4682BE;
    text-decoration: none;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-top: 0;
}

#sidebar ol {
    margin: 0;
    padding-left: 30px;
    padding-top: 0;
}

#sidebar ul li:before {  /* a hack to have dashes as a list style */
    content: "-";
    position: relative;
    left: -5px;
}

#sidebar ul li,
#sidebar ol li {
    margin-top: 0;
    margin-bottom: 0.3rem;
    margin-left: 10px;
    padding: 2px;
    text-indent: -5px;/* to compensate for the padding for the dash */
    font-size: 14px;
}

#content {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 1.5rem;
    color: #363e48;
    /* border: 1px solid black; */
    counter-reset: section;
}

@media (min-width: 40rem) {
    #content {
        width: 580px;
        padding-left:330px;
        margin-left: 30px;
        margin-right: 0px;
    }
}

#content pre{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0.7rem;
    line-height: 1.2;
    color: #FFF;
    border-radius: 2px;
}

#content code {
    padding-right: 5px;
    color: #8BD100;
    font-size: 0.7rem;
    font-weight: normal;
    line-height: 2.2;
    font-family: inherit;
    border-radius: 2px;
}

#content p>code,
#content li>code,
#content h2>code,
#content h3>code{
  color: #F66B4E;
  background: #FFF2EF;
  padding: 0px 5px;
}

#content h2 {
    margin-top: 30px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 20px;
    /* color: #F4654C; */
    /* font-weight: inherit; */
    text-align: left;
    /* border-top: 1px solid #F46850; */
    counter-increment: section;
}

#content h2:before {
    content: counter(section) ". ";
    color: #f66457;
}

#content h3:before {
    content: "# ";
    color: #f66457;
}

#content h3 {
    margin-top: 30px;
    /* font-weight: inherit; */
    margin-bottom: 0px;
    padding-top: 10px;
    /* color: #F57A65; */
    padding-bottom: 0px;
    text-align: left;
    /* border-top: 1px dotted #777; */
}

#content h2:hover,
#content h3:hover {
  /* color: #775CA6; */
}

#content img {
    max-width: 90%;
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    border-radius: 5px;
}

#content ul {
    display: block;
    list-style-type: none;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
}

#content ol {
    display: block;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
}


#content ul li:before {/* a hack to have dashes as a list style */
    content: "-";
    position: relative;
    left: -5px;
    color: #CD4064;
}

#content ul li,
#content ol li{
    text-indent: -5px;  /* to compensate for the padding for the dash */
    font-size: 0.8rem;
}

#content ul li.link,
#content ol li.link {
    color: #2980b9;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
}

#content a:link, #content a:visited {
    color: #4682BE;
    text-decoration: none;
}

#content .content-toc{
    background: #bdc3c7;
    border-radius: 5px;
}

#content table{display:block;width:100%;overflow:auto;word-break:normal;word-break:keep-all}

#content table th{font-weight:bold}

#content table th,
#content table td{padding:6px 13px;border:1px solid #ddd}

#content table tr{background-color:#fff;border-top:1px solid #ccc}
#content table tr:nth-child(2n){background-color:#f8f8f8}

#back_to_top {
    display: none;
    position: fixed;

    height: 20px;
    width: 70px;
    top: 20px;

    margin-left: 930px;
    margin-top: 0px;

    color: #FFF;
    line-height: 20px;
    text-align: center;
    font-size: 10px;


    border-radius: 5px;
    background-color: #AAA;
}

#back_to_top:hover {
    background-color: #444;
    cursor: pointer;
}

#edit {
    display: none;
    position: fixed;

    height: 17px;
    width: 70px;
    top: 45px;

    margin-left: 930px;
    margin-top: 0px;

    color: #FFF;
    line-height: 17px;
    text-align: center;
    font-size: 10px;


    border-radius: 5px;
    background-color: #AAA;
}

#edit:hover {
    background-color: #444;
    cursor: pointer;
}

#loading, #error {
    display: none;
    position: fixed;

    top: 0;
    height: 17px;

    font-size: 14px;
}

@media (min-width: 40rem) {
    #loading, #error {
        display: none;
        position: fixed;

        height: 17px;
        top: 45%;

        margin-left: 560px;

        font-size: 14px;
    }   
}

#flip{
    position:fixed;
    height:20px;
    width:100%;
    bottom:10px;
    font-size:10px;
    text-align:center;
}

#pageup,#pagedown{
    height:20px;
    width:70px;
    display:inline-block;
    border-radius: 5px;
    background-color: #AAA;
    text-align: center;
    line-height:20px;
    color: #FFF;
}

#pageup{
    margin-right:5px;
}

#pageup:hover,
#pagedown:hover{
    background-color: #444;
    cursor: pointer;
}

#pagedown{
    margin-left:5px;
}

@media (min-width: 40rem) {
    #flip{
        margin-left:545px;
        width:150px;
    }
}

.progress-indicator-2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    background-color: #0A74DA;
}

/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    position: relative;
    margin: .5em 0;
    background-color:#F8F8F8;
    background-size: 4em 3.86em;
    background-origin: content-box;
    overflow: visible;
    padding: 0;
}

code[class*="language"] {
    max-height: inherit;
    height: 100%;
    padding: 0 1em;
    display: block;
    overflow: auto;
}

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background-color: #F8F8F8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    position: relative;
    padding: .2em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    color: #c92c2c;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline;
    white-space: normal;
}


:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
    right: 0.75em;
    left: auto;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #7D8B99;
}

.token.punctuation {
    color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
    color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
    color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
    color: #664524;
    background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
    color: #1888AE;
}

.token.regex,
.token.important {
    color: #e90;
}

.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
}

.token.important {
    font-weight: normal;
}

.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.namespace {
    opacity: .7;
}

@media screen and (max-width: 767px) {
    pre[class*="language-"]:before,
    pre[class*="language-"]:after {
        bottom: 14px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
    color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers {
    padding-left: 0;
}

pre[class*="language-"].line-numbers code {
    padding-left: 3.8em;
}

pre[class*="language-"].line-numbers .line-numbers-rows {
    left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}
pre[data-line] code {
    position: relative;
    padding-left: 4em;
}
pre .line-highlight {
    margin-top: 0;
}

#content em {
    color: #F7745A;
    font-style: normal;
}
#content strong {
    color: #F7745A;
    font-weight: 500;
}


::-webkit-scrollbar{width:8px;height:8px;background-color:#fff}
::-webkit-scrollbar-thumb{border-radius:5px;background-color:#e5e5e5}
::-webkit-scrollbar-thumb:hover{background-color:#d1d1d1}

#sidebar a.selected {
    color: #F66446;
    /* font-weight: 600; */
}

blockquote {
    color: #8B8B8B;
    font-style: italic;
}


div#uyan_frame {
    position: absolute;
    margin-top: 40px;
    margin-bottom: 20px;
    left: 330px;
    width: 580px;
}

#content h3:first-of-type {
    /* margin-top: 0; */
}


/* Medium screens (640px) */
@media (max-width: 40rem) { 
    div#uyan_frame {
        position: static;
        margin-top: 40px;
        width:100%;
        box-sizing: border-box;
        padding:20px;
        margin-bottom: 20px;
    }
}

h2, h3, h4, h5{
    font-weight: bold;
}

h3 {
    margin-left: -10px;
}

#content h2 {
    margin-left: -20px;
}

h4 {
    font-size: 16px;
}